@charset "UTF-8";

.suez-one-regular {
  font-family: "Suez One", serif;
}

:root {
    --preto: #000000;
    --roxo-escuro: #440C9F;
    --laranja: #ff914d;
    --verde: #30A662;
    --branco-amarelado: #F3EEE8;
    --branco: #f5f5f5;
    --fundo-post: #EFEFEF;

    --fundo-match-pet: #171411;
    --border-padrao: 10px;
    --gradiente-principal: linear-gradient(90deg, #FFC395 0%, #6B39BD 51%, #34087C 100%);
}

